
/* 2 header */
.header2{
   background-color: #fabe06;
   height: 80px;
}
.logo img {
    width: 80px;
    height: 80px;
}
.nav-link{
    color: white;
    font-size: 1.2rem;
    margin: 0 1.2rem ;
}
.nav-link:hover, .nav-link:active{
    transform: scale(1.1);
    transition: 0.6s;
    
}
.nav-btn{
    border: 1px solid white;
}
.nav-btn:hover{
    background-color: #fff;
    color: #fabe06;
}

/* 2 header */
/* slider */
.slider img{
    height: 500px;
}
/* slider */
/* .banner */
.banner {
    position:relative;
    max-height: 400px;
    margin-bottom: 50px;
}

.banner img {
    height: 400px;
    width: 100%;
}

  
  .img-title{
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0;
   right: 0;
    top: 40%;
    font-size: 3rem;
    font-weight: 800;
   
  }
/* .banner */

.btn:focus, .btn:hover {
    text-decoration: none;
}


    /* about */
.about-caption {
    padding-top: 50px;
    padding-left: 0px;
}

.about-area2 .about-caption {
    padding-left: 50px;
}

.about-btn {
    border: none;
    padding: 16px 40px;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    background-color: #fabe06;
    transition: 0.6s;

}

.section-tittle h2 {
    font-size: 40px;
    display: block;
    color: #072366;
    font-weight: 600;
    text-transform: normal;
    line-height: 1.4;
}

.about-img img {
    width: 100%;
    height: 400px;

}

    /* about */

/* services */
.element {
    background-color: rgba(103, 133, 255, 0.1);
    padding: 5px 17px;
    font-size: 14px;
    font-weight: 400;
    margin: 22px;
    font-family: "Raleway", sans-serif;
    /* color: #24446d; */
    text-transform: capitalize;
    display: inline-block;
    color: #6785FF;
    border-radius: 30px;
}

.service h5,
.element-h2 {
    color: #1c165c;
 
}
.element-h2{
    padding-bottom:10% ;
}

.cat-icon img {
    margin: 4%;
}
.services-area .single-cat .cat-cap p {
    margin-bottom: 36px;
    color: #57667e;
    font-size: 16px;
}

/* offer service */
.offer-services .single-offers {
    position: relative;
}
.offer-services .single-offers .offers-caption {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
}
.text-center {
    text-align: center!important;
}
.offer-services .single-offers .offers-caption .cat-cap {
    padding: 0 102px;
}
.offer-services .single-offers .offers-caption .cat-cap p {
    margin-bottom: 36px;
    /* color: #fff; */
    font-size: 16px;
}
@media only screen and (max-width: 767px) and (min-width: 576px){

    .offer-services .single-offers .offers-caption .cat-cap p {
        font-size: 15px;
    }
    .offer-services .single-offers .offers-caption .cat-cap h5>a {
        font-size: 21px;
    }
}


/*call us  */
.call-us{
    margin-top:20px;
    background-image: url(/images/section_bg01.png);

}
.wantToWork-caption{
    margin: 10%;
}
.wantToWork-btn {
    border: none;
    padding: 16px 40px;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    background-size: 200%;
    transition: 0.6s;
    background-color: #fabe06 !important;
}
.wantToWork-btn:hover{
    text-decoration: none;
}
/*call us  */

/* services */


/* testimony */


/* testimony */

/* details */
.details{
    background-color: #25456c;
    color: white;
    margin-bottom: 30px;
}
.detail{
    text-align: center;
    
   
}
.detail .fa{
    font-size: 27px;
    margin: 3% 3% 0 0 ;
}
/* details */


/* request */
.request{
    height: 500px;
    background-image: url(/images/laundry3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}
.request-title, .request-para{

    text-align: center;
    margin: 40px;
    color: #25456d;
}
.request-para{
    color:  black;
    
}
/* request */

/* contact */
.contact{
    background-image: url(/images/);
}
.contact-info__icon {
    margin-right: 20px;
}
.media-body p {
    color: #8f9195;
}
.media{
    margin: 10px 0;
}
.contact-info__icon i,
.contact-info__icon span {
    color: #8f9195;
    font-size: 27px;
}

.boxed-btn {
    background: #fff;
    color: #fabe06 !important;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #fabe06;
    letter-spacing: 3px;
    text-align: center;
    color:#fabe06;
    text-transform: uppercase;
    cursor: pointer;
}

.boxed-btn:hover {
    background:#fabe06;
    color: #fff !important;
    border: 1px solid #fabe06;
}
/* contact */




/* footer */
.footer-area .footer-pera p {
    color: #646D77;
    /* padding-right: 52px; */
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.8;
}
.footer-social a {
    color: #25456d;
    background: rgba(103,133,255,0.08);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
}
.footer-social a:hover {
    color: #fff;
    background: #25456d;
}
.footer-area .footer-tittle p {
    color: #646D77;
    font-size: 14px;
}
.footer-area .footer-tittle ul li a {
    color: #646D77;
    font-weight: 300;
    font-size: 14px;
}
.footer-area .footer-tittle h4 {
    color: #1D2547;
 
    margin-bottom: 20px;
    font-weight: 600;
}
.number a {
    font-size: 26px !important;
    color: #fabe06 !important;
    margin-bottom: 10px;
    display: block;
}
.footer-padding {
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer-bottom-area .footer-border {
    padding-top: 50px;
    padding-bottom: 1px;
}
.section-bg2{
    /* background-color: pink; */
    background-image: url("/images/footer3.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    /* background-size: 100% 500px; */
}
/* footer */